@page "/author/{id:guid}"
@using Bookanizer.Shared.DTO
@using Bookanizer.Shared.Libraries
@using Bookanizer.Client.Components

<div class="search-results">
	<h2>All Books by: @author.Name</h2>
</div>

@foreach (var book in books)
{
    <Bookinfo Book="book"></Bookinfo>
}
@code {
    [Parameter] public Guid Id { get; set; }
    [Inject] public HttpClient Http { get; set; }
    public AuthorDTO author = new();
    public List<BookDTO> books = new();

    protected override async Task OnParametersSetAsync()
    {
        author = await Http.GetFromJsonAsync<AuthorDTO>(ApiRoutes.Author.GET_ById(Id));

        books = await Http.GetFromJsonAsync<List<BookDTO>>(ApiRoutes.Books.GET_ByAuthorId(author.Id));
    }
}