@page "/login"
@using Blazored.LocalStorage
@using Bookanizer.Shared.DTO
@using Bookanizer.Shared.Libraries
@using Microsoft.AspNetCore.Components.Forms
<div class="Login-box align-items-center text-center">
    <EditForm Model="login" OnValidSubmit="ValidSubmit">
        <DataAnnotationsValidator />
        <br />
        <h3 class="text-center">Login</h3>
        <br />
        <div class="login-form">

            <label class="login-label">E-Mail:</label>
            <input type="email" class="form-control Login-input" id="floatingInput" @bind-value="login.Email" placeholder="name@example.com">

            <div class="error-text-login">
			    <ValidationMessage For="()=>login.Email"></ValidationMessage>
		    </div>
            <br />
            <label class="login-label">Password:</label>
            <input type="password" class="form-control Login-input" id="floatingPassword" @bind-value="login.Password" placeholder="Password">
            <div class="error-text-login">
                <ValidationMessage For="()=>login.Password"></ValidationMessage>
            </div>
            <br />
            @if (responseDTO != null && !responseDTO.Success)
            {
                <p class="validation-message">@responseDTO.ErrorMessage</p>
            }
        </div>
        <button type="submit" disabled="@isSubmitting" style="width: 120px">Login</button>
    </EditForm>
</div>
