@page "/register"
@using Blazored.LocalStorage
@using Bookanizer.Shared.DTO
@using Bookanizer.Shared.Libraries
@using Microsoft.AspNetCore.Components.Forms
<div class="Login-box text-center">
    <EditForm Model="register" OnValidSubmit="ValidSubmit">
        <DataAnnotationsValidator />
        <br />
        <h3 class="text-center">Register</h3>
        <br />
        <div class="login-form">

            <label class="login-label">Username:</label>
            <input class="form-control Login-input" id="username" @bind-value="register.UserName" placeholder="Username">

            <div class="error-text-login">
                <ValidationMessage For="()=>register.UserName"></ValidationMessage>
            </div>

            <label class="login-label">E-Mail:</label>
            <input type="email" class="form-control Login-input" id="floatingInput" @bind-value="register.Email" placeholder="name@example.com">

            <div class="error-text-login">
                <ValidationMessage For="()=>register.Email"></ValidationMessage>
            </div>

            <label class="login-label">Password:</label>
            <input type="password" class="form-control Login-input" id="floatingPassword" @bind-value="register.Password" placeholder="Password">
            <div class="error-text-login">
                <ValidationMessage For="()=>register.Password"></ValidationMessage>
            </div>
            @if (responseDTO != null && !responseDTO.Success)
            {
                <p class="validation-message">@responseDTO.ErrorMessage</p>
            }
        </div>
        <button type="submit" disabled="@isSubmitting">Register</button>
    </EditForm>
</div>

