@page "/register"
@using Blazored.LocalStorage
@using Bookanizer.Shared.DTO
@using Bookanizer.Shared.Libraries
@using Microsoft.AspNetCore.Components.Forms
<div class="Login-box text-center">
    <EditForm Model="register" OnValidSubmit="ValidSubmit">
        <DataAnnotationsValidator />
        <br />
        <h3 class="text-center">Register</h3>
        <br />
        <div class="form-floating">
            <input class="form-control Login-input" id="username" @bind-value="register.UserName" placeholder="Username">
            <label for="username">Username</label>
        </div>
        <ValidationMessage For="()=>register.UserName"></ValidationMessage>
        <br />
        <div class="form-floating">
            <input type="email" class="form-control Login-input" id="floatingInput" @bind-value="register.Email" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <ValidationMessage For="()=>register.Email"></ValidationMessage>
        <br />
        <div class="form-floating">
            <input type="password" class="form-control Login-input" id="floatingPassword" @bind-value="register.Password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <ValidationMessage For="()=>register.Password"></ValidationMessage>
        <br />
        @if (responseDTO != null && !responseDTO.Success)
        {
            <p class="validation-message">@responseDTO.ErrorMessage</p>
        }
        <button type="submit" disabled="@isSubmitting">Register</button>
    </EditForm>
</div>

