@page "/search/{searchText}"
@using Bookanizer.Shared.DTO
@using Bookanizer.Shared.Libraries
@using Bookanizer.Client.Components
@if (books != null && books.Any())
{
    @foreach (var book in books)
    {
        <Bookinfo Book="book" />
    }
}
else
{
    <p>We found no Book matching your search.</p>
}
@code {
    [Parameter] public string searchText { get; set; }
    [Inject] public HttpClient Http { get; set; }

    private List<BookDTO> books = new();

    protected override async Task OnParametersSetAsync()
    {
        await GetBooks();
    }

    private async Task GetBooks()
    {
        books = await Http.GetFromJsonAsync<List<BookDTO>>(ApiRoutes.Books.GET_ByName(searchText));
    }
}
